@import '../partials/mixins';
@import '../partials/variable';

.Wall-header {
    color: $main-color;
    line-height: 3.0em;
    font-size: 34pt;
    font-weight: bold;
}

.Wall-cards {
    @include grid-formation();
    font-size: $regular-font-size;
    color: $main-color;
    padding: 5% 5%;
    grid-gap: 50px;
}

.ui.card.facts {
    color: $second-main-color;
    background-color: $main-color;
    padding: 8%;
    text-align: center;
}

// @media only screen and (max-width: 800px) {
//     .Wall-cards {
//         display: grid;
//         grid-template-columns: 1fr;
//     }
// }