@import '../partials/mixins';
@import '../partials/variable';

.Wall-header {
    @include center-1d-item;
    color: $main-color;
    @include section-header;
}

.Wall-cards {
    @include grid-formation();
    font-size: $regular-font-size;
    color: $main-color;
    padding: 5% 5%;
    grid-gap: 50px;
}

.ui.card.facts {
    color: $second-main-color;
    background-color: $main-color;
    padding: 8%;
    text-align: center;
}

// @media only screen and (max-width: 800px) {
//     .Wall-cards {
//         display: grid;
//         grid-template-columns: 1fr;
//     }
// }