@import '../partials/mixins';
@import '../partials/variable';

.Wall-header {
    @include center-1d-item;
    color: $main-color;
    @include section-header;
}

.Wall-cards {
    @include grid-formation();
    font-size: $regular-font-size;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    grid-gap: 50px;
}

.ui.card.facts {
    background-color: $main-color;
    padding: 8%;
    text-align: center;
    margin:0;
}

.ui.back.card.facts {
    background-color: $second-main-color;
    height: 50px;
    min-height: 150px;
    overflow-y: scroll;
}

// @media only screen and (max-width: 800px) {
//     .Wall-cards {
//         display: grid;
//         grid-template-columns: 1fr;
//     }
// }