@import '../partials/mixins';
@import '../partials/variable';

.Bio-container {
    background-color: $main-color;
    @include bio-grid-formation($gtr: 1fr 1fr);
    font-size: $regular-font-size;
    color: $second-main-color;
    padding: 5% 10%;
    grid-gap: 25px;
    .About-me {
        grid-column: span 2;
        text-align: left;
        line-height: 1.5em;
    }
        .header {
            color: $second-main-color;
            line-height: $header-height;
        }
    .Contact {
        grid-column: 2 / 3;
        text-align: left;
        line-height: 1.5em;
    }
    .Resume {
        align-self: center;
        text-align: left;
    }
}

