@import '../partials/variable';

@mixin center-1d-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin after-hover {
    top: -100%;
    left: 0px;
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: #79B791;
    content: "Let's Find Out!";
    color: #FBFEFB;
    border-radius: 5px;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

@mixin hover-3d {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}


@mixin grid-formation($display: grid, $gtc: 1fr 1fr 1fr, $gtr: 1fr 1fr 1fr) {
    display: $display;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
}

@mixin section-header {
    line-height: 3.0em;
    font-size: 34pt;
    font-weight: bold;
}