@mixin center-1d-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin hover-3d {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}

@mixin after-hover {
    top: -100%;
    left: 0px;
    width: 100%;
    position: absolute;
    background: #79B791;
    color: white;
    border-radius: 5px;
    content: 'Lets Find Out';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

@mixin bio-grid-formation($display: grid, $gtc: 1fr 1fr 1fr, $gtr: 1fr 1fr 1fr) {
    display: $display;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
}