.App {
  text-align: center;
  box-sizing: border-box;
}

.Home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Content {
  color: rgb(15, 68, 104);
}

.Bio-container {
  background-color: rgb(15, 68, 104);
  padding-left: 5%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 12pt;
  color: white
  /* grid-gap: 50px; */
}

#Contact-list {
  list-style-type: none;
  text-align: left;
}

.header {
  color: white;
}
.About-me {
  grid-column: span 2;
  text-align: left;
}

.Profile-picture {
  align-self: center;
  grid-column: span 1;
  grid-row: 1 / 3;
}

#kevin-pic {
  border-radius: 50%;
  height: 75%;
  width: 75%;
}

.Contact {
  grid-column: 2 / 3;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .Bio-container{ 
    display: grid;
    grid-template-columns: 1fr;
  }
}