.App {
  text-align: center;
  box-sizing: border-box;
}

.Home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Content {
  color: rgb(15, 68, 104);
}

.Bio-container {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  /* grid-gap: 50px; */
}

.About-me {
  grid-column: span 2;
}

@media only screen and (max-width: 800px) {
  .Bio-container{ 
    display: grid;
    grid-template-columns: 1fr;
  }
}