.App {
  text-align: center;
}

.Home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Content {
  color: gray;
}